{%  extends 'user_form2/base.html'  %}
    {% load static %}
       {%block body_block%}
         <div class="jumbotron">
          {% if registered %}
            <h1>Thank you for registering...!!!!</h1>
            <h2>you can now login ...</h2>
          {% else %}
           <h1> please register first...!!!</h1>
           <h3>Please fill  the form:</h3>
           <form method="POST" enctype="multipart/form-data">
               {%csrf_token%}
               {{users_form.as_p}}
               {{profile_form.as_p}}
               <input type="submit" name="" value="Register" >
            </form>
          {%endif%}
              

         </div>
       {%endblock%}
